.body {
    background-repeat: no-repeat;
    background: cover;
}

.navButton {
    color: black;
    font-size: 1.5rem;
}

.title {
    font-size: 6rem;
    color: white;
    text-align: center;
}

.top10txt {
    font-size: 4rem;
    color: white;
    display: flex;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}

.top10buttons {
    font-size: 2rem;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    display:flex;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: auto;
    margin-bottom: auto;
}

.listtext {
    color: white;
    display: flex;
    justify-content: center;
}

h5 {
    background-color: rgba(0, 0, 0, 0.741);
}